<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Uuden viestin luonti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Luodaan uusi viesti aihealueelle: <!--<span th:text="${aihealue.nimi}">aihealue</span> viestiketjuun <span th:text="${viestiketju.otsikko}"}>--></h1>
        
        <p>Tässä näkyy aihelueen <!--<span th:text="${aihealue.nimi}">aihealue</span>--> viestiketjut.</p>
        
        
        <button onclick="goBack()">Takaisin</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </body>
</html>