<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestiketju: <span th:text="${viestiketju.otsikko}">viestiketju</span></h1>
        
        <p>Tässä näkyy viestiketjun <span th:text="${viestiketju.otsikko}">viestiketju</span> viestiketjut.</p>
        
        <ol>
            <li th:each="viestit: ${viesti}">
                <span th:text="${viestit.sisalto}">viestien sisalto</span> <a th:href="${'/aihealueet/' + aihealue.id + '/viestiketju/' + viestiketjut.ketjuId + '/viestit/' + viesti.viestiketjuid}">linkki</a>
                
            </li>
        </ol>
        
        <button onclick="goBack()">Takaisin</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </body>
</html>
