<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestiketju: <span th:text="${viestiketju.otsikko}">viestiketju</span></h1>
        
        <p>Tässä näkyy viestiketjun <span th:text="${viestiketju.otsikko}">viestiketju</span> viestiketjut.</p>
        
        <ol>
<!--            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.sisalto}">viestien sisalto</span> 
                <a th:href="${'/aihealueet/' + aihealue.id + '/viestiketju/' + viestiketju.ketjuId + '/viestit/' + viesti.viestiketju_id}">linkki</a>
                
            </li>-->
            <li th:each="viesti: ${viestit}">
                <b><span th:text="${viesti.lahettaja}">Viestin lähettäjä</span></b>
                <span th:text="${viesti.sisalto}">Viestin sisältö</span>
                <i><span th:text="${viesti.lahetetty}">Lähetetty</span></i>
            </li>
        </ol>
        
        <button onclick="goBack()">Takaisin</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </body>
</html>
